body{
	font-family: 'Quicksand', sans-serif !important;
	color: #dcdcda;
	line-height: 1.5em;
	overflow-x: hidden;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

a{
	text-decoration: none;
	color: inherit !important;
}

li{
	display: inline-block;
}

#name-header{
	width: 100%;
	line-height: 1.5em;
	color: #f5f5f5;
	display: block;
	text-align: center;
	font-size: 80px;
	padding: 150px 0px 80px 0px;
	margin: 0 auto;
	font-family: 'Pacifico', cursive;
	-webkit-animation-delay: 0.5s;
}

#full-dev-title{
	font-size: 25px;
	color: #f5f5f5;
	padding-top: 50px;
}

.center-text{
	text-align: center;
}

.navi{
	display: block !important;
	margin: 0 auto !important;
	width: 100% !important;
	background: rgba(48,62,78, 0.8) !important;
	position: fixed !important;
	top: 0 !important;
	z-index: 1 !important;
}

.col-icon{
	font-size: 30px;
}

.nav-list{
	text-align: center !important;
	list-style-type: none !important;
	width: 100% !important;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	justify-content: center;
}

.nav-item{
	display: inline-block !important;
	padding-top: 10px;
	margin: 10px !important;
	color: #f5f5f5 !important;
	font-size: 15px !important;
}

.nav-link:hover, .nav-link:focus{
	color: #e44434 !important;
}

.home-section{
	height: 100vh;
	overflow-y: hidden;
	/*background: url(../imgs/bg-1-img.jpg);*/
	background-size: cover;
}

#about{
	min-height: 100vh;
	background: #00001a;
}

#about-me-title, #skills-title, #contact-title, #portfolio-title{
	font-size: 55px;
	font-family: 'Pacifico', cursive;
	border-bottom: 5px ridge #646464;
	padding: 120px 0px 20px 0px;
	max-width: 700px;
	display: block;
	margin: 0 auto 50px auto;
	text-align: center;
}

#about-me-content{
	color: #f5f5f5 !important;
}

#about-portrait{
	display: block;
	margin: 0 auto;
	width: 250px;
	border: 10px solid #303e4e;
	border-radius: 50%;
}

#about-me-content{
	padding: 15px;
	display: block;
	margin: 0 auto;
}

.open-statement{
	display: block;
	font-size: 20px;
	max-width: 1020px;
	margin: 15px auto;
}

/*#skills{
	min-height: 100vh;
	background: url(../imgs/concrete_seamless.png);
}*/

.col-4{
	width: 33.33%;
	float: left;
}

.row{
	clear: both;
}

#portfolio{
	min-height: 100vh;
	background: #00001a;
}

#portfolio-title{
	color: #7da3a2;
}

#port-group{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 20px 0px;
}

.port-item{
	margin: 10px auto;
	width: 400px;
	height: 300px;
}

.port-title{
	width: 400px;
	text-align: center;
	color: #fff;
}

.port-desc{
	width: 400px;
	color: #fff;
	display: inline-block;
	font-size: 15px;
}

#port0{
	width: 400px;
	height: 300px;
	background: url(../imgs/surchport.png);
	background-size: 400px 300px;
	border: 5px solid #303e4e;
	border-radius: 10px;
}

#port1{
	width: 400px;
	height: 300px;
	background-image: url(../imgs/shoemarket.png);
	background-size: 400px 300px;
	border: 5px solid #303e4e;
	border-radius: 10px;

}

#port2{
	width: 400px;
	height: 300px;
	background-image: url(../imgs/traintimes.png);
	background-size: 400px 300px;
	border: 5px solid #303e4e;
	border-radius: 10px;
}

.git-link{
	color: #da635d !important;
}

.git-link:hover{
	color: #fff !important;
	text-decoration: underline !important;
}

#skills-title, #contact-title{
	color: black;
}

#skills-box{
	display: block;
	margin: 0 auto;
}

.skill-type{
	display: block;
	width: 100%;
	text-align: center;
	padding: 30px 0px;
	font-size: 45px;
	color: #7da3a2;
	font-family: 'Pacifico', cursive;
}

.ul-skill{
	display: block;
	margin: 0 auto;
	text-align: center;
	max-width: 1200px;
}

.skill-cover{
	height: 150px;
	display: block;
	background: black;
	position: absolute;
	left: 25%;
	right: 25%;
	z-index: 1;
	-webkit-transition: right 2s;
	-moz-transition: right 2s;
	-o-transition: right 2s;
	transition: right 2s;
	transition-delay: 1s;
}

.skill-item{
	font-size: 120px;
	margin: 10px;
}

.form-contain{
	max-width: 1200px;
	padding: 5px;
	display: block;
	margin: 10px auto;
}

#contact{
	min-height: 100vh;
	background: url(../imgs/concrete_seamless.png);
}

.input-label{
	font-size: 20px;
	color: black;
}

#submit-btn{
	margin: 20px 0px;
	display: block;
	padding: 10px 20px;
	font-size: 20px;
}

.handle-icon{
	width: 120px;
	padding-bottom: 35px;
}

.footer{
	padding: 10px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: black;
}

.fa-icon{
	padding: 0px 20px;
	font-size: 35px;
	color: #fff;
}


@media only screen and (max-width:1335px){

	.port-item{
		margin: 10px auto;
		width: 300px;
		height: 200px;
		float: left;
	}

	.port-desc{
		width: 300px;
		float: left;
		margin: 10px;
	}

	#port0{
		width: 300px;
		height: 200px;
		background: url(../imgs/traintimes.png);
		background-size: 300px 200px;
		border: 5px solid #303e4e;
		border-radius: 10px;
	}

	#port1{
		width: 300px;
		height: 200px;
		background-image: url(../imgs/shoemarket.png);
		background-size: 300px 200px;
		border: 5px solid #303e4e;
		border-radius: 10px;
	}

	#port2{
		width: 300px;
		height: 200px;
		background-image: url(../imgs/traintimes.png);
		background-size: 300px 200px;
		border: 5px solid #303e4e;
		border-radius: 10px;
	}

	.skill-item{
		font-size: 70px;
	}

	.handle-icon{
		width: 70px;
	}

	#port-group{
		padding: 0;
		flex-flow: column;
		align-items: center;
	}

	.col-4{
		width: 100%;
		display: block;
	}

}

@media only screen and (max-width:760px){

	.nav-list{
		flex-flow: column wrap;
	}

	.col-4{
		display: flex;
		flex-flow: column wrap;
		align-items: center;
	}

}

@media only screen and (max-width:639px){

	#name-header{
		font-size: 50px;
	}

	#full-dev-title{
		font-size: 25px;
		padding-top: 10px;
	}

	.nav-item{
		margin: 5px;
		padding: 0px;
	}

	#about-me-title, #skills-title, #portfolio-title, #contact-title{
		padding-top: 60px;
		margin-bottom: 10px;
	}

	.skill-type{
		font-size: 30px;
		padding: 5px 0px;
		margin: 0px;
	}

	.port-title{
		width: 100%;
	}

	#about-portrait{
		width: 220px;
	}

}

@media only screen and (max-width:380px){

	.nav-item{
		font-size: 13px !important;
		padding: 0px !important;
		margin: 0px !important;
	}

	#name-header{
		font-size: 42px;
	}

	#full-dev-title{
		font-size: 20px;
		padding-top: 0px;
	}

	#about-me-title, #skills-title, #portfolio-title, #contact-title{
		font-size: 40px;
		padding-top: 55px;
		margin-bottom: 10px;
	}

	#about-portrait{
		width: 210px;
	}

	.open-statement{
		font-size: 16px;
	}

}
